{% extends 'base.html' %}

{% block content %}
<h1>Add a New Blog Post</h1>

<form action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <fieldset>
            {{ form.title.label }}
            {{ form.title(class="form-control", placeholder='Title') }}
        </fieldset>
        <fieldset>
            {{ form.content.label }}
            {{ form.content(class="form-control", placeholder='Content') }}
        </fieldset>
        {{ form.submit(class='btn btn-success') }}        
    </div>
</form>

<h2>Hello there {{ current_user.username }}</h2>

{% if current_user.is_authenticated %}

{% for post in posts %}
    <div class="container">
        <h3>
            <a href="{{ url_for('post_detail', post_id = post.id) }}">{{ post.title }}</a>
        </h3>
        <p>{{ post.content }}</p>
    </div>
{% endfor %}

{% else %}
<h2>No soup for you!</h2>

{%endif %}



{% endblock content %}