{% extends 'base.html' %}

{% block content %}
<header class=banner>
    <h1 class="header-text">This is a blog during a pandemic.</h1>
</header>


<!-- <h1>Hello {{customer_name}}</h1>
<p>{{order_number}}</p> -->

<h2>Hello there {{ current_user.username }}</h2>

{% if current_user.is_authenticated %}

{% for post in posts %}
    <div class="container">
        <h3>
            <a href="{{ url_for('post_detail', post_id = post.id) }}">{{ post.title }}</a>
        </h3>
        <p>{{ post.content }}</p>
    </div>
{% endfor %}

{% else %}
<h2>No soup for you!</h2>

{%endif %}


{% endblock content %}